version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Asia/Tokyo"

    open-pull-requests-limit: 5

    # メジャーは除外
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

    labels:
      - "dependencies"
      - "dependabot"
      - "automerge"

    commit-message:
      prefix: "chore"
      include: "scope"
